:root {
   --primary-color: black;
   --secondary-color: brown;
   --accent1-color: black;
   --accent2-color: wheat;
   --heading-font: 'Times New Roman', Times, serif;
   --body-font: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color); 
}
nav, p, article {
    margin: 16px;
    padding: 8px;
}
header {
    padding: 10px;
}
.socialmedia a {
    text-decoration: none;
}
.socialmedia a img {
    width: 50px
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 30px 0;
}
h1 {
    position: absolute;
    top: 15px;
    width: 100%;
    padding: 5px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}
h2 {
    background-color: lightslategrey;
    padding: 10px;
    text-align: center;
    border-bottom: 1px;
    margin: 20px 0;
}
article {
    position: absolute;
    bottom: 10px;
    background-color: var(--accent1-color);
    opacity: 0.7;
    color: white;
    padding: 0;
}
.hero article img {
    float: right;
    width: 120px;
    margin: 15px;
    box-shadow: 0 0 20px dimgray;
    border: 1px solid;
}
footer {
    text-align: center;
    border-top: 1px dotted;
}
