:root {
   --primary-color: #f5f5f5;
   --secondary-color: #1a1f23;
   --accent1-color: black;
   --accent2-color: white;
   --heading-font: 'Times New Roman', Times, serif;
   --body-font: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color); 
}
 .navigation {
    display: flex;
    list-style: none;
}
li {
    flex: 1 1 auto;
}
nav, p, article {
    margin: 16px;
    padding: 8px;
}
header {
    padding: 10px;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
}


/* #logo{
} */
.socialmedia a {
    text-decoration: none;
}
.socialmedia a img {
    width: 50px
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 30px 0;
}
h1 {
    position: absolute;
    top: 15px;
    width: 100%;
    padding: 5px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}
h2 {
    background-color: var(--secondary-color);
    padding: 5px;
    text-align: center;
    /* border-bottom: 1px; */
    margin: 5px 0;
}
.hero article {
    position: absolute;
    bottom: 10px;
    background-color: var(--accent1-color);
    opacity: 0.7;
    color: white;
    padding: 0;
}
.hero article img {
    float: right;
    width: 120px;
    margin: 15px;
    box-shadow: 0 0 20px dimgray;
    border: 1px solid;
}
.grid1 {
    display: grid;
    align-items: center;
}
.grid1 h2{
    grid-column: 1/4;
}
.grid1 img {
    grid-column: 2/3;
}
.grid2 {
    grid-column: 1/2;
    grid-row: 2;
}
.flex {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: smaller;
    text-align: center;
}
footer {
    text-align: center;
    border-top: 1px dotted;
    display: flex;
    justify-content: flex-end;
}
