* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    max-width: 800px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: darkgray;
}
h1 {
    margin: .5rem;
}
form {
    background-color: #ddd;
    color: black;
}
input, textarea, select {
    padding: .75rem;
    width: 350px;
}
button {
    background-color: navy;
    color: white;
    padding: 1rem;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
    border: 1px solid rgb(0 0 0 / 10%);
    /* box-shadow: 0 0 30px white; */

}
code {
    display: block;
    background-color: black;
    color: white;
}
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
}
.quiz-item {
    border: none;
}