* {
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}
:root{
    --text-align: center;    
}
main{
    max-width: 840px;
}
nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 10px;
}
aside{
    position: relative;
    width: 20rem;
    text-align: var(--text-align);
}
aside h2 {
    position: absolute;
    top: 25px;
    left: 70px;
    color: whitesmoke;
}
aside img{
    width: 200px;
    height: auto;
}
h1 {
    color: darkblue;
    padding: .5rem;
}
main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
}
p {
    padding: .5rem;
}
footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: var(--text-align);
}
/* CSS class selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: #eee;
    color: #333;
}
.indent {
    padding-left: 2rem;
}