* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header, footer {
    background-color: #333333;
    color: white;
    padding: 10px;
    text-align: center;
}

header {
    font-size: 1.25rem;
}

footer {
    font-size: 0.8rem;
}

section {
    background-color: lightgray;
    padding: 20px;
    margin: 15px auto;
    border: 1px solid rgb(0 0 0 / 10%);
    font-size: .9rem;
}

main {
    margin: 0 auto;
    width: 400px;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid black;
}
ul {
    margin: 10px 20px 0;
}

picture img {
    box-shadow: 0 0 30px #333333;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

p {
    margin: 10px;
}